<div class="progress-container">
	<div class="progress progress-xs" ng-if="remainingPoints()">
		<div class="progress-bar progress-bar-primary text-right" role="progressbar" aria-valuenow="{{totalPoints()/state.goal}}" aria-valuemin="0" aria-valuemax="1" style="width: {{(totalPoints()/state.goal)*100}}%">
		</div>
	</div>
</div>

<section class="info-container text-center complete" ng-if="!remainingPoints()">
	<h1>
		Good work!  You completed your workout!
		<button class="btn btn-default" ng-click="newList()">Go Again</button>
	</h1>
</section>
<div class="action-container">
	<div class="container text-center">
		<div ng-show="remainingPoints()">
			<h3>
				{{state.climbingType}} climbing
			</h3>
			<div class="climb-entry">
				<button class="btn btn-primary" ng-repeat="rating in climbingScale()" ng-class="{ 'btn-success': score.is.special(scale.indexOf(rating)), 'btn-warning': score.is.lame(scale.indexOf(rating)) }" ng-click="addTick(rating)">{{rating}}</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<chart chart="chart"></chart>
</div>
<!-- <div class="container text-left">
	<h3>Climbs ({{state.ticks.length}})</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Climb</th>
				<th>Type</th>
				<th>Points</th>
				<th><button class="btn btn-link btn-xs" ng-click="newList()">reset</button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tick in state.ticks | reverse track by $index ">
				<td>{{tick.description}}</td>
				<td>{{tick.climbingType | lowercase}}</td>
				<td>{{tick.points | sexypoints}}</td>
				<td><button class="btn btn-danger btn-xs" ng-click="removeTick(tick)">remove</button></td>
			</tr>
		</tbody>
	</table>
</div> -->
<div class="fixed-bottom">
	<div class="info-container text-center clearfix" ng-if="remainingPoints()">
		<div class="info">
			<div class="desc">Remaining Points</div>
			<h2>{{remainingPoints() | sexypoints}}</h2>
		</div>
		<div class="info">
			<div class="desc">Workout Timer</div>
			<h2><timer seconds="0" up="true"></timer></h2>
		</div>
	</div>
</div>
