<div class="progress-container">
	<div class="progress progress-xs" ng-if="remainingPoints()">
		<div class="progress-bar progress-bar-primary text-right" role="progressbar" aria-valuenow="{{totalPoints()/state.goal}}" aria-valuemin="0" aria-valuemax="1" style="width: {{(totalPoints()/state.goal)*100}}%">
		</div>
	</div>
</div>

<section class="info-container text-center complete" ng-if="!remainingPoints()">
	<h1>
		Good work!  You completed your workout!
		<button class="btn btn-default" ng-click="newList()">Go Again</button>
	</h1>
</section>

<div class="info-container text-center clearfix" ng-if="remainingPoints()">
	<div class="info">
		<div class="desc">Remaining Points</div>
		<h2>{{remainingPoints() | sexypoints}}</h2>
	</div>
	<div class="info">
		<div class="desc">Est. Time Remaining</div>
		<h2><timer seconds="30" /></h2>
	</div>
	<div class="info">
		<div class="desc">Program</div>
		<h2>{{state.program}}</h2>
	</div>
</div>
<div class="action-container">
	<div class="container text-center">
		<div ng-show="remainingPoints()">
			<h3>
				{{state.climbingType}} climbing<br />
				<button class="btn btn-link open-config" ng-click="openConfig($event)">change</button>
			</h3>
			<div class="climb-entry">
				<button class="btn btn-primary" ng-repeat="rating in climbingScale()" ng-class="{ 'btn-success': $index > climbingScale().indexOf(state.projectLevel) }" ng-click="addTick(rating)">{{rating}}</button>
			</div>
		</div>
	</div>
</div>
<div class="container" ng-show="totalPoints()">
	<h3 class="text-center">
		Climbs ({{state.ticks.length}})
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Climb</th>
				<th>Type</th>
				<th>Points</th>
				<th><button class="btn btn-link btn-xs" ng-click="newList()">reset</button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tick in state.ticks | reverse track by $index ">
				<td>{{tick.description}}</td>
				<td>{{tick.climbingType | lowercase}}</td>
				<td>{{tick.points | sexypoints}}</td>
				<td><button class="btn btn-danger btn-xs" ng-click="removeTick(tick)">remove</button></td>
			</tr>
		</tbody>
	</table>
</div>