<div class="progress-container">
	<div class="progress progress-xs">
		<div class="progress-bar progress-bar-primary text-right" role="progressbar" aria-valuenow="{{program.completedClimbs.length/program.numberOfClimbs}}" aria-valuemin="0" aria-valuemax="1" style="width: {{(program.completedClimbs.length/program.numberOfClimbs)*100}}%">
		</div>
	</div>
</div>
<div ng-if="false">
	<div ng-repeat="p in programs">
		<button class="btn btn-primary btn-xs" ng-if="program.type !== p.name" ng-click="program.type = p.name">{{p.name}}</button> {{p.name}} - {{p.description}}
	</div>
	<select ng-model="program.numberOfClimbs">
		<option ng-repeat="n in [] | range:15">{{(n+1)*2}}</option>
	</select> Climbs<br />

</div>
<section class="info-container text-center complete" ng-if="program.finished">
	<h1>
		Good work!  You completed your workout!
		<button class="btn btn-default" ng-click="program.reset()">Go Again</button>
	</h1>
</section>
<section class="text-center" ng-if="!program.finished">
	<div ng-if="!program.resting">
		<hgroup>
			<h3>Climb on!</h3>
			<h2>{{fullScale()[program.current]}}</h2>
		</hgroup>
		<button class="btn btn-primary btn-massive glyphicon glyphicon-ok-circle" ng-click="program.complete()"><i></i></button><br /><br />
		<button class="btn btn-link btn-xs" ng-click="program.tooTired()">Too Tired</button>
		<button class="btn btn-link btn-xs" ng-click="program.tooHard()">Too Hard</button>
	</div>
	<div ng-if="program.resting">
		<hgroup>
			<h4>It's time to rest!</h4>
			<h2><timer seconds="{{program.totalRestTime()}}"></timer></h2>
		</hgroup>
		<button class="btn btn-link" ng-click="program.rested()">I'm ready</button><br /><br />
		Rest Timer: <a href="javascript:void(0);" ng-click="program.restTimer = !program.restTimer">{{program.restTimer ? 'enabled' : 'disabled' }}</a>
	</div>
</section>
<div class="info-container fixed-bottom" ng-if="!program.finished">
	<div class="text-center clearfix">
		<div class="info">
			<div class="desc">Climbs Remaining</div>
			<h2>{{program.numberOfClimbs - program.completedClimbs.length }}</h2>
		</div>
		<div class="info">
			<div class="desc">Workout Timer</div>
		<h2><timer seconds="0" up="true"></timer></h2>
		</div>
	</div>
</div>