<div class="progress-container">
	<div class="progress progress-xs" ng-if="!program.finished">
		<div class="progress-bar progress-bar-primary text-right" role="progressbar" aria-valuenow="{{program.completedClimbs.length/program.options.totalClimbs}}" aria-valuemin="0" aria-valuemax="1" style="width: {{(program.completedClimbs.length/program.options.totalClimbs)*100}}%">
		</div>
	</div>
</div>
<section class="info-container text-center complete" ng-if="program.finished">
	<h1>
		Good work!  You completed your workout!
		<button class="btn btn-default" ng-click="reset()">Go Again</button>
	</h1>
</section>
<section class="text-center" ng-if="!program.finished">
	<div ng-if="!program.resting">
		<hgroup>
			<h4>Climb on!</h4>
			<h2>{{program.current.label}}</h2>
		</hgroup>
		<button class="btn btn-primary" ng-click="program.complete()"><i class="glyphicon glyphicon-check"></i> Sended</button><br /><br />
		<button class="btn btn-link btn-xs" ng-click="program.tooTired()">Too Tired</button>
		<button class="btn btn-link btn-xs" ng-click="program.tooHard()">Too Hard</button>
	</div>
	<div ng-if="program.resting">
		<hgroup>
			<h4>It's time to rest!</h4>
			<h2><timer seconds="{{program.options.restTime}}"></timer></h2>
		</hgroup>
		<button class="btn btn-link" ng-click="program.rested()">I'm ready</button>
	</div>
</section>
<section class="container info-container" ng-if="!program.finished">
	<div class="text-center clearfix">
		<div class="info">
			<div class="desc">Remaining Climbs</div>
			<h2>{{program.options.totalClimbs - program.completedClimbs.length - 1 }}</h2>
		</div>
		<div class="info">
			<div class="desc">Est. Time Remaining</div>
			<h2><timer seconds="5"></timer></h2>
		</div>
		<div class="info">
			<div class="desc">Program</div>
			<h2>{{state.program}}</h2>
		</div>
		<div class="info">
			<div class="desc">Rest Timer</div>
			<h2><a href="javascript:void(0);" ng-click="program.options.restTimer = !program.options.restTimer">{{program.options.restTimer ? 'enabled' : 'disabled' }}</a></h2>
		</div>
	</div>
</section>