<div ng-controller="ConfigureCtrl" ng-cloak class="pull-right config-menu ng-cloak">
	<button class="navbar-btn btn btn-info glyphicon glyphicon-cog" ng-click="toggleConfig($event)"><i></i></button>
	<div id="config-menu">
		<a href="javascript:void(0)" class="close" ng-click="toggleConfig($event)">&times;</a>
		<form>
			<div ng-if="state.program == 'free'">
				<div class="form-group">
					<label for="goal">Goal</label>
					<select id="goal" class="form-control input-sm" name="goal" ng-model="state.goal">
						<option value="10">{{ 10 | sexypoints }}</option>
						<option value="20">{{ 20 | sexypoints }}</option>
						<option value="30">{{ 30 | sexypoints }}</option>
						<option value="40">{{ 40 | sexypoints }}</option>
						<option value="50">{{ 50 | sexypoints }}</option>
						<option value="60">{{ 60 | sexypoints }}</option>
						<option value="70">{{ 70 | sexypoints }}</option>
						<option value="80">{{ 80 | sexypoints }}</option>
						<option value="90">{{ 90 | sexypoints }}</option>
						<option value="100">{{ 100 | sexypoints }}</option>
					</select>	
				</div>
			</div>
			<div class="form-group">
				<label for="climbingType">Climbing Style</label>
				<select id="climbingType" class="form-control input-sm" name="climbingType" ng-model="state.climbingType" ng-options="type for type in types"></select>
			</div>

			<div class="form-group">{{state.projectLevel}}
				<label for="projectLevel">Hardest Climb Ever Sended</label>
				<select id="projectLevel" class="form-control input-sm" name="projectLevel" ng-model="state.projectLevel" ng-options="fullScale().indexOf(rating) as rating for rating in fullScale()"></select>
			</div>
		</form>
	</div>
</div>