<div ng-controller="SetupCtrl" ng-cloak class="ng-cloak">
	<label for="climbingType">Select Climbing Type</label>
	<select id="climbingType" name="climbingType" ng-model="session.climbingType" ng-options="climbingtype.name for climbingtype in types"></select><br />

	<label for="goal">Goal</label>
	<select id="goal" name="goal" ng-model="session.goal">
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option value="50">50</option>
		<option value="60">60</option>
		<option value="70">70</option>
		<option value="80">80</option>
		<option value="90">90</option>
		<option value="100">100</option>
	</select><br />	

	<label for="projectLevel">Hardest Climb Ever Sended</label>
	<select id="projectLevel" name="projectLevel" ng-model="session.projectLevel" ng-options="rating for rating in session.climbingType.scale"></select>
</div>

<div ng-controller="TicklistCtrl" ng-cloak class="ng-cloak">
	{{climbs}}
	<h3 ng-show="remainingPoints()">Remaining Points: {{remainingPoints()}}</h3>
	<div ng-show="remainingPoints()">
		{{session.climbingType.name}}
		<div class="btn-group">
			<button class="btn btn-xs btn-default" ng-repeat="rating in climbingScale()" ng-click="addTick(rating)">{{rating}}</button>
		</div>
	</div>
	<div ng-hide="remainingPoints()">
		<div class="alert alert-success">
			Good work!  You completed your workout!
			<button class="btn btn-default" ng-click="newList()">Go Again</button>
		</div>
	</div>
	<div ng-show="totalPoints()">
		<h3>Climbs: {{ticks.length}}</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Climb</th>
					<th>Type</th>
					<th>Points</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tick in $storage.ticks | reverse">
					<td>{{tick.description}}</td>
					<td>{{tick.climbingType.name | lowercase}}</td>
					<td>{{tick.points}}</td>
					<td><button class="btn btn-danger btn-xs" ng-click="removeTick(tick)">remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>