<div ng-controller="SetupCtrl" ng-cloak class="ng-cloak">
	Select Climbing Type
	<select ng-model="session.climbingType" ng-options="climbingtype.name as climbingtype.name for climbingtype in types"></select>
</div>
<div ng-controller="TicklistCtrl" ng-cloak class="ng-cloak">
	{{climbs}}
	<h3 ng-show="remainingPoints()">Remaining Points: {{remainingPoints()}}</h3>
	<div ng-show="remainingPoints()" ng-repeat="type in climbingTypes">
		{{type.name}}
		<div class="btn-group">
			<button class="btn btn-xs btn-default" ng-repeat="rating in type.scale" ng-click="addTick(type.name, rating)">{{rating}}</button>
		</div>
	</div>
	<div ng-hide="remainingPoints()">
		<div class="alert alert-success">
			Good work!  You completed your workout!
			<button class="btn btn-default" ng-click="newList()">Go Again</button>
		</div>
	</div>
	<div ng-show="totalPoints()">
		<h3>Climbs: {{ticks.length}}</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Climb</th>
					<th>Type</th>
					<th>Points</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tick in $storage.ticks | reverse">
					<td>{{tick.description}}</td>
					<td>{{tick.climbingType | lowercase}}</td>
					<td>{{tick.points}}</td>
					<td><button class="btn btn-danger btn-xs" ng-click="removeTick(tick)">remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>