<div ng-controller="TicklistCtrl" ng-cloak class="ng-cloak">
	<h3>Remaining Points: {{100-(ticks|totalPoints)}}</h3>
	<h3>Climbs: {{ticks.length}}</h3>
	<ul>
		<li ng-repeat="tick in ticks">
			{{tick.points}} - {{tick.description}} <button class="btn btn-danger btn-xs" ng-click="removeTick(tick)">remove</button>
		</li>
	</ul>

	<form id="addTick" ng-submit="addTick()">
		<select name="climb" id="climb" ng-model="climb" ng-options="climb as climb.description for climb in climbs" ng-change="addTick()">
			<option value="">Please Select Difficulty</option>
		</select>
	</form>
</div>