<!DOCTYPE html>
<html ng-app="tt">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	</head>
	<body ng-controller="MainCtrl">
		<nav class="navbar navbar-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header pull-left">
					<h1>Training Ticklist</h1>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="navbar-header pull-right">
					<div class="navbar-brand">
						<div class="dropdown">
							<a href="#" class="navbar-btn" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
							<div class="dropdown-menu">
								<a href="javascript:void(0)" class="pull-right close">&times;</a>
								<% include configure.ejs %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<%- body %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.backbone.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/javascripts/lib/bootstrap.js"></script>
		<script src="/javascripts/lib/angular.min.js"></script>
		<script src="/javascripts/lib/angular-resource.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>