<!DOCTYPE html>
<html ng-app="tt">
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-controller="MainCtrl" ng-cloak class="ng-cloak">
		<div ng-swipe-left="toggleConfig($event)" id="outer-wrap">
			<div id="inner-wrap">
				<header>
					<div class="container">
						<% include configure.ejs %>
						<nav role="navigation" role="navigation">
							<ul class="list-inline">
								<li ng-repeat="program in programs" ng-class="{ 'active': state.program == program }">
									<a ui-sref="{{program}}">{{program}}</a>
								</li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="main">
					<%- body %>
				</div>
			</div>
		</div>
		<script src="/javascripts/lib/modernizr/modernizr-custom.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.backbone.js"></script>
		<script src="/javascripts/lib/angular/angular.js"></script>
		<script src="/javascripts/lib/angular-touch/angular-touch.js"></script>
		<script src="/javascripts/lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="/javascripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/controllers/mainCtrl.js"></script>
		<script src="/javascripts/controllers/configureCtrl.js"></script>
		<script src="/javascripts/controllers/freeModeCtrl.js"></script>
		<script src="/javascripts/controllers/guidedModeCtrl.js"></script>
		<script src="/javascripts/filters/reverse.js"></script>
		<script src="/javascripts/filters/sexypoints.js"></script>
		<script src="/javascripts/filters/timer.js"></script>
		<script src="/javascripts/services/climbingTypes.js"></script>
		<script src="/javascripts/services/programs.js"></script>
		<script src="/javascripts/services/stateStorage.js"></script>
		<script src="/javascripts/directives/timer.js"></script>
	</body>
</html>