<!DOCTYPE html>
<html ng-app="tt">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	</head>
	<body ng-controller="MainCtrl">
		<nav role="navigation">
			<div class="container">
				<% include configure.ejs %>
				<h1>Training Ticklist</h1>
			</div>
		</nav>
		<%- body %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.backbone.js"></script>
		<script src="/javascripts/lib/angular/angular.js"></script>
		<script src="/javascripts/lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="/javascripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/controllers/mainCtrl.js"></script>
		<script src="/javascripts/controllers/configureCtrl.js"></script>
		<script src="/javascripts/controllers/freeModeCtrl.js"></script>
		<script src="/javascripts/controllers/guidedModeCtrl.js"></script>
		<script src="/javascripts/filters/reverse.js"></script>
		<script src="/javascripts/filters/sexypoints.js"></script>
		<script src="/javascripts/filters/timer.js"></script>
		<script src="/javascripts/services/climbingTypes.js"></script>
		<script src="/javascripts/services/programs.js"></script>
		<script src="/javascripts/services/stateStorage.js"></script>
		<script src="/javascripts/directives/timer.js"></script>
	</body>
</html>