<!DOCTYPE html>
<html ng-app="tt">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- body %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/lib/bootstrap.js"></script>
    <script src="/javascripts/lib/angular.min.js"></script>
    <script src="/javascripts/lib/angular-resource.js"></script>
    <script src="/javascripts/lib/ngstorage.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>