@import "bootstrap/bootstrap.less";

body, html {
	height: 100%;
}

section {
	padding: 10px 0;
}

header {
	h1 {
		display: inline-block;
		font-size: 20px;
	}
	.dropdown-menu {
		right: 0;
		left: auto;
		padding: 20px;
		width: 250px;

		.close {
			margin-top: -20px;
			margin-right: -15px;
		}
	}
}

hgroup {
	h4 {
		font-size: 15px;
		margin-bottom: 0;
	}
	h2 {
		font-size: 60px;
		line-height: 80px;
		margin-top: 0;
		font-weight: bold;
	}
}

nav {
	ul {
		margin: 8px 0 0 0;

		li {
			height: 30px;
			line-height: 30px;
		}
	}
	a {
		transform: scale3d(.65, .65, .65);
		-ms-transform: scale3d(.65, .65, .65); /* IE 9 */
		-webkit-transform: scale3d(.65, .65, .65); /* Safari and Chrome */
		font-size: 25px;
		padding: 0 10px;
		display: inline-block;
		transition-duration: .1s;
		transition-timing-function: linear;
	}
	a:hover {
		text-decoration: none;
	}
	.active a {
		color: #fff;
		transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1); /* IE 9 */
		-webkit-transform: scale3d(1, 1, 1); /* Safari and Chrome */
	}
}

#outer-wrap {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: #2D2D2E;
}

#inner-wrap {
	position: relative;
	height: 100%;
	width: 100%;
	right: 0;
}

#main {
	min-height: 500px;
	padding-bottom: 60px;
	padding-top: 10px;
}

.js-nav #inner-wrap {
	right: 70%;
}

#config-menu {
	right: -70%;
	position: absolute;
	top: 0;
	height: 100%;
	width: 70%;
	background: #636466;
	z-index: 100;
	line-height: 40px;
	font-size: 15px;
	padding: 10px 20px;
}


  #config-menu {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #inner-wrap {
    right: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .js-nav #inner-wrap {
    -webkit-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  }


.mono-space {
	font-family: @font-family-monospace;
}

.progress-xs {
	height: 5px;
}

.climbs-container .collapsable-content {
	background: #636466;
	overflow: hidden;
	height: 120px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: block;
    z-index: 2;

	&.collapsed {
		display: none;
	}

}

.climb-entry {
	button {
		width: 60px;
		display: inline-block;
		border-left: 0;
		border-top: 0;
		margin-bottom: 10px;
	}
}

.info-container {
	background-color: #dff0d8;
	color: #8EC447;
	z-index: 3;

	h1 {
		margin: 0;
	}

	.info {
		display: inline-block;
		padding: 10px;

		h2 {
			margin: 0;
			font-size: 30px;
		}

		.desc {
			font-size: 15px;
			line-height: 35px;
		}
	}
}

.info-container.complete {
	background-color: #8EC447;
	padding: 10px 0;

	h1, h2 {
		color: #dff0d8;
	}
}

.chart-container {	
	.chart {
		line-height: 125px;
		width: 500px;
		margin: 10px auto;
		text-align: center;
		vertical-align: bottom;
		height: 160px;
		overflow: hidden;

		.point {
			margin-right: 2px;
			vertical-align: bottom;
			padding: 5px 0;
			position: relative;
			display: inline-block;
			text-align: center;
		}

		.dot {
			background-color: #fff;
			position: absolute;
			bottom: 0;
			display: none;
		}

		.bar {
			background: #8EC447;

			&.special {
				background: @brand-success;

				.primary { 
					color: @brand-success;
				}
			}
			&.lame {
				background: @brand-warning;

				.primary { 
					color: @brand-warning;
				}
			}

			span {
				display: block;
				line-height: 20px;
				font-size: 14px;

				&.primary {
					font-size: 12px;
					line-height: 12px;
					font-weight: bold;
					color: @brand-primary;
					position: absolute;
					bottom: -10px;
					width: 100%;
				}
			}
		}
	}
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (min-width: @screen-sm-min) { 
	.info-container .info {
		min-width: 110px;
		
		h2 {
			font-size: 30px;
			padding: 0 0 10px 0;
		}
	}
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}